python-dotenv
ipywidgets
openai
google-generativeai
langgraph
langchain_core
langchain_openai
langchain_community
langgraph-checkpoint
langgraph-checkpoint-sqlite
tavily-python
duckduckgo-search
beautifulsoup4
# graphviz
# pygraphviz